@charset 'utf-8';

/* active */
.nav_bar.active{
    right: 0;
    opacity: 1;
    transition: 1s;
}
.mid_main_menu>li>span.active,
.bot_main_menu>li>span.active{
    text-decoration: underline;
    color: #e74311;
}
.ham_bar.active{
    opacity : 0;
    transform : rotate(90deg);
    transition : 1s;
    visibility: hidden;
}
.main_banner_coffee img.active{
    left: 0;
    opacity: 1;
}
.banner_tit.active{
    text-shadow: none;            
    opacity: 1;
}
.banner_txt.active{
    opacity: 1;
}
.ad_people.active{
    opacity: 1;
    box-shadow: none;
}
.ad_tit span.active{
    color: #fff;
    transition: 0.5s;
    opacity: 1;
}
.fella_content img.active{
    width: 100%;
    transition: 1s;
}
.fella_logo img.active{
    transform: rotate(0);
    width: 100%;
    box-shadow: none;
}
/* ====== */

/* header */
.header{
    position: relative;
    width: 100%;
    height: 65px;
    background-color: #fff;
    z-index: 50;
    
}
.header>.container{
    
    display: flex;
}
.ham_bar{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.header_logo{
    margin: 16px 2.727272727272727% 20px 2.727272727272727%;
}
.nav{
    padding-top: 1rem;
    
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    z-index: 10;
}

.header_nav{
    width: 100%;
}
.main_menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.header_nav>.main_menu>li{
    padding-right: 1rem;
    
}
.header_nav>.main_menu span{
    font-weight: 600;
}
/*  */
/* .header_menu{display: none;} */

.header_menu{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: #fff;
    text-align: center;            
    
}

.header_menu>li{
    display: inline-block;            
    margin: 1rem;
}

.header_menu>li a{
    font-size: 14px;
    font-weight: 500;
    color: #e74311;
    font-size: 14px;
}


.header_sns{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    
}
.header_sns a{
    font-size: 30px;
    margin-right: 1rem;
}
.ham_bar{
    width: 30px;
    height: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    transition: 1s;      
}
.btn_navcall>div,
.ham_bar>div{
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    /* transform: rotate(45deg); */
}


.clo_navcall,
.btn_navcall{
display: none;
}



/* nav bar */        
.nav_bar{
    position: absolute;
    right: -100%;
    top: 65px;
    width: 420px;
    height: 650px;
    background-color: #fff;
    padding-left: 30px;
    transition: 1s;
    overflow: hidden;
    opacity: 0;
    z-index: 10;
    box-shadow: 1px 5px 10px #000;
}
.nav_bar_logo{
    width: 170px;
    height: 34px;
    margin-right: 30px;
    }
.nav_top{
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column;
    justify-content: space-between;
}
.nav_top ul{
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.nav_top ul>li{
    width: 33.33333333333333%;   
    padding-bottom: 1rem;  
    text-align:justify;
    
}
.nav_top ul a{
    font-weight: 600;       
}
.nav_top ul a:hover{
    text-decoration: underline;
}
.nav_top .search input{
    width: 100%;
    padding: 5px 0;
    border-radius: 4px;
}
.bar_header{
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
}
.bar_header,.nav_top,.nav_mid{
    margin-bottom: 2rem;
}

.nav_clo{
    cursor: pointer;
    position: relative;
     width: 30px;
     height: 30px;
     transition: 0.3s;
     }
     
.nav_clo>div{
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    top: 15px;            
}
.nav_clo>div:first-child{
    transform: rotate(45deg);
}
.nav_clo>div:last-child{
    transform: rotate(135deg);
}

.search a{
    position: absolute;
    font-size: 1.5rem;
    right: 5%;
    top: 22%;
}

.mid_main_menu span{
    font-weight: 600;           
}
.mid_main_menu li,
.bot_main_menu li{
    padding: 0.5rem 0;    
    cursor: pointer;        
}
.sub_menu a{
    font-weight: 500;
}

.mid_main_menu .sub_menu
,.bot_main_menu .sub_menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.bot_main_menu span{
    font-weight: 600;
}
#sub_menu{
    display: grid;
    
}


/* 메인 배너 스타일 */

.main_banner{width: 100%;}
.main_banner .container{
    width: 100%;
    
    position: relative;
    
}
.main_banner_coffee img{            
    position: absolute;
    top: 6%;
    left: -100%;
    width: 43.45454545454545%;
    opacity: 0;
    transition: ease 1s;
    }
    .main_banner_coffee img:hover{
        width: calc(43.45454545454545% + 0.5%);
    }
 

/* 배너 타이틀 텍스트 */
 .banner_tit,
 .banner_txt{
     position: absolute;             
     }   
.banner_tit{
    
    top: 40%;
    left: 70%;
    transform: translate(-50%,-50%);
    font-size: 60px;            
    font-weight: 800;
    opacity: 0;
    text-shadow: 1px 10px 10px #000;
    transition: 0.5s ease-in;
    }


.banner_txt{
    /* width: 250px; */
    font-size: 16px;
    top: 60%;
    left: 70%;
    transform: translate(-50%,-50%);    
    font-weight: 500;
    opacity: 0;
    transition: 0.5s ease-in;
    
}

 

/* info */

.section_info{
    position: relative;
    
}
.section_info .container{
    display: flex;            
    justify-content: space-between;
    background-color: #fff;            
}

    .info_content{
        padding-top: 24.23146473779385%;
        
        padding: 12px;
    }

    .info_tit h2.tit_top{
        font-size: 17px;
        font-weight: 500;
    }
    .info_tit span{
        display: flex;
        align-items: flex-end;
        font-size: 51px;
        font-weight: 600;
        padding-bottom: 12px;
    }
    .info_tit span p{
        line-height: 51px;
        padding-left: 1rem;
        font-size: 26px;
    }
    .info_txt{
        font-size: 15px;
        line-height: 26px;
        font-weight: 500;
    }

/* AD */
    .section_ad .container{
        position: relative;
        width: 100%;          
           
    }
    .section_ad .container::after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: 0.3s;
    }
    .section_ad .container:hover::after{
        background-color: rgb(0, 0, 0,0.5);
    }
              
    .ad_people{
        width: 40.18181818181818%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: 1s;
        box-shadow: 0px 0px 20px #000 ;
    }


    
    .ad_tit{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 2;
    }
    
    .ad_tit span{
        font-size: 5vw;                
        font-weight: 600;  
        transition: 0.5s;                              
        
    }
   /*  .ad_tit span{
        font-size: 52px;
    }
 */

    
           


   
 /* 가맹문의 */
    .section_join .container{
        position: relative;
        
    }
    .section_join .container::after{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        content: '';
        width: 100%;                
        transition: 0.3s;
    }
    .section_join .container:hover::after{
        background-color: rgb(0, 0, 0,0.5);
    }

  
    .join_img p{                
        position: absolute;
        top: 62%;
        left: 54%;
        transform: translate(-50%,-50%);
        font-size: 3vw;
        font-weight: 600;
        transition: 0.3s;
        }
        .section_join .container:hover p{
        color: #fff;
        z-index: 5;
        border: 1px solid #fff;
        padding: 0 1rem;
        box-shadow: 0px 0px 5px #000;
        cursor: pointer;
    }
    

  
    .join_img p{
        font-size: 34px;
    }


    /* 펠어 광고 2 */


    .section_fella .container{
        position: relative;
        
    }
    .fella_content{
        position: absolute;
        width: 31.81818181818182%;
        top: 0;
        left: 0;
    }
    .fella_content img{
        width: 0%;
        transform-origin: bottom;
    }

    .fella_logo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-20%,-50%);
    }
    .fella_logo img{
        transform-origin: bottom;
        transform: rotate(125deg);
        width: 0%;
        transition: 1s;
        box-shadow: 0px 5px 20px black;
    }

/* 푸터스타일 */
    .footer{
        border-radius: 10px;
        padding: 30px;
        background-color: #fff;
        
    }
  
  .footer ul{                
      display: flex;
      flex-flow: row wrap;
      
  }
  .footer li,.address{
      font-size: 12px;
  }
  .footer li{
      font-size: 14px;
      font-weight: 500;
      padding-right: 2rem;
      padding-bottom: 10px;
      color: #333;
  }
  .footer strong{
      font-weight: 600;
      padding-right: 0.5rem;
  }
  .address{
      width: 49.03846153846154%;
      font-style: normal;
  }
/*             sssssssssssss */
